In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
# Load in the data
overtime_hours = pd.read_csv('../data/csv/work_hours_overtime.csv', index_col='key', parse_dates=True)
base_hours = pd.read_csv('../data/csv/work_hours_normal.csv', index_col='key', parse_dates=True)
employees = pd.read_csv('../data/csv/employees.csv', index_col='key', parse_dates=True)

In [19]:
# Replace wage for 0 entries in employees
employees.loc[employees['job_title'] == 'آشپز 1', 'wage'] = 80867239
employees.loc[employees['job_title'] == 'آشپز 2', 'wage'] = 80680940
employees.loc[employees['job_title'] == 'سر آشپز', 'wage'] = 233201362
employees.loc[employees['job_title'] == 'انباردار', 'wage'] = 79618760
employees.loc[employees['job_title'] == 'قصاب', 'wage'] = 64595060
employees.loc[employees['job_title'] == 'کمک آشپز', 'wage'] = 64595060
employees.loc[employees['job_title'] == 'کمک انباردار', 'wage'] = 69141660
employees.loc[employees['job_title'] == 'اپراتور انبار', 'wage'] = 91966783
employees.loc[employees['job_title'] == 'تعمیرکار', 'wage'] = 76858760
employees.loc[employees['job_title'] == 'سر شیفت', 'wage'] = 111038520
employees.loc[employees['job_title'] == 'سر شیفت آماده سازی', 'wage'] = 105218260
employees.loc[employees['job_title'] == 'سر شیفت برنج', 'wage'] = 104618760
employees.loc[employees['job_title'] == 'سردخانه دار', 'wage'] = 71365860
employees.loc[employees['job_title'] == 'سرگارسون', 'wage'] = 76615620
employees.loc[employees['job_title'] == 'متصدی اداری', 'wage'] = 83798520
employees.loc[employees['job_title'] == 'متصدی برنامه ریزی و سفارشات', 'wage'] = 77547587
employees.loc[employees['job_title'] == 'مدیرپروژه', 'wage'] = 122705979
employees.loc[employees['job_title'] == 'کارشناس', 'wage'] = 114447637
employees.loc[employees['job_title'] == 'کارگر ساده', 'wage'] = 60967627
employees.loc[employees['job_title'] == 'گارسون', 'wage'] = 112758936
employees.loc[employees['job_title'] == 'کارشناس سلامت ایمنی محیط', 'wage'] = 73912460
employees.loc[employees['job_title'] == 'کارمند اداری', 'wage'] = 64595060
employees.loc[employees['job_title'] == 'کارگر رستوران', 'wage'] = 66738428

# Checking for missing values
joined_with_overtime = overtime_hours.join(employees, on='key', how='left')
joined_with_base = base_hours.join(employees, on='key', how='left')
(
    joined_with_overtime['job_title'].hasnans,
    joined_with_overtime['wage'].hasnans,
    joined_with_base['job_title'].hasnans,
    joined_with_base['wage'].hasnans
)

(False, False, False, False)

In [20]:
# remove rows with job_title NaNs in employees
employees = employees.dropna() # These employees are not in the work_hours dataset

In [21]:
total_hours = base_hours + overtime_hours

# Check for NaNs in work hours
for col in total_hours.columns:
    if total_hours[col].hasnans:
        print(f'Column {col} has NaNs')
        break
else:
    print('No NaNs found in work_hours') # All data is intact 

# Check for NaNs in employees
for col in employees.columns:
    if employees[col].hasnans:
        print(f'Column {col} has NaNs')
        break
else:
    print('No NaNs found in employees') # All data is intact

No NaNs found in work_hours
No NaNs found in employees

In [22]:
# Only the employees present in the work_hours dataset are considered
employees[employees.index.isin(total_hours.index)] # 100% match with work_hours (197 rows)

                               job_title         wage
key
8739231         کارشناس سلامت ایمنی محیط   73912460.0
8840066                    اپراتور انبار   91966783.0
9736325                    اپراتور انبار   91966783.0
8739061                         انباردار   79618760.0
8739273                         انباردار   79618760.0
...                                  ...          ...
9746477                      متصدی اداری   83798520.0
9557844                      متصدی اداری   83798520.0
8752108      متصدی برنامه ریزی و سفارشات   77547587.0
9627178                        مدیرپروژه  122705979.0
8596766  مسئول امور اداری و منابع انسانی  106084490.0

[197 rows x 2 columns]

In [23]:
# Export to CSV
employees.to_csv('../data/csv/employees.csv')